@charset "UTF-8";

/* Typical Device Breakpoints
---------------------------------------
Pequenas telas: Até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Grandes telas: acima de 1200px */

/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;1,300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*BEBAS NEUE*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); /*LATO*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body, html {
    font-size: 16px;
    background-image: url(imagens/background-luzes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Bebas Neue", sans-serif;
}

a {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.logo {
    color: #CD3055;
    font-weight: 600;
    font-size: 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 40px;
}

nav > ul > a {
    color: white;
    font-size: 20px;

}

nav > ul > a:hover{
    color: #CD3055;
    font-weight: 600;
    transition: 0.3s;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    color: #CD3055;
}

.dev-front {
    text-align: center;
    color: white;
    font-size: 40px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 35px;
    margin-top: 10px;
}

.redes-sociais > a {
    color: white;
}

.redes-sociais > a:hover {
    color: #CD3055;
    transition: 0.3s;
}

.foto-perfil {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 47px;
    margin-left: 100px;
    border-top: 10px solid #CD3055;
    border-left: 10px solid #CD3055;
    border-bottom: 10px solid #CD3055;
    border-radius: 1.5px;
}

.section {
    display: flex;
    background-color: rgba(0, 0, 0, 0.399);
    background-size: 100%;
}

.textos {
    margin-top: 70px;
    margin-left: 80px;
}

div > h2 {
    color: white;
}

.txt {
    font-family: "Lato";
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    width: 600px;
    margin-bottom: 30px;
    color: white;
}

.btn {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px 40px;
    background-color: #CD3055;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}