@charset "UTF-8";

/* Typical Device Breakpoints
---------------------------------------
Pequenas telas: Até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Grandes telas: acima de 1200px */

/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;1,300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*BEBAS NEUE*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*MONTSERRAT*/


* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 300;

}

body, html {
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
    color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5rem;
}

.logo {
    color: #CD2D57;
    font-size: 1.2rem;
    font-weight: 400;
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

nav > ul > a {
    color: white;
}

nav > ul > a:hover {
    color: #CD2D57;
    transition: 0.2s;
}

.titulo {
    margin: 4rem;
    text-align: center;

}

h1 {
    font-size: 3rem;
    color: #CD2D57;
    font-family: 'Bebas Neue';
}

.titulo > p {
    font-size: 1.3rem;
    font-family: 'Bebas Neue';
    margin-top: -0.7rem;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.3rem;
}

#github {
    font-size: 1.4rem;
    color: white;
}

#github:hover {
    color: #CD2D57;
    transition: 0.2s;
}

#linkedin {
    font-size: 1.4rem;
    color: white;
}

#linkedin:hover {
    color: #CD2D57;
    transition: 0.2s;
}

.hello {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foto-perfil {
    width: 20rem;
    /*border-top: 0.3rem solid #CD2D57;
    border-left: 0.3rem solid #CD2D57;
    border-bottom: 0.3rem solid #CD2D57;
    border-radius: 0.2rem;*/

}

.textos-hello {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 40rem;
    margin-left: 2.5rem;
}

h2 {
    font-family: 'Bebas Neue';
    font-size: 2rem;
}

.textos-hello > p {
    font-family: 'Montserrat';
    width: 35rem;
}

#projetos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
}

.txt-projetos {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #CD2D57;
}

#projetos > div > div > img {
    width: 300px;
}

.thumb-projetos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

hr {
    width: 8rem;
    margin-left: 5rem;
}

.thumb-projetos > div > a {
    color: white;
    
}

.thumb-landing-page {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 0.3rem solid #CD2D57;
    border-right: 0.3rem solid #CD2D57;
    border-left: 0.3rem solid #CD2D57;
    border-bottom: 0.5rem solid #CD2D57;
    background-color: #CD2D57;
    border-radius: 0.2rem;
}
.icons-landing-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.1rem;
}

#icon-html {
    font-size: 1.5rem;
    color: #E85921;
}

#icon-css {
    font-size: 1.5rem;
    color: #1872B4;
}

.thumb-projeto-android {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 0.3rem solid #CD2D57;
    border-right: 0.3rem solid #CD2D57;
    border-left: 0.3rem solid #CD2D57;
    border-bottom: 0.5rem solid #CD2D57;
    background-color: #CD2D57;
    border-radius: 0.2rem;
}
.thumb-portfolio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 0.3rem solid #CD2D57;
    border-right: 0.3rem solid #CD2D57;
    border-left: 0.3rem solid #CD2D57;
    border-bottom: 0.5rem solid #CD2D57;
    background-color: #CD2D57;
    border-radius: 0.2rem;
}

footer {
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#link-email {
    color: white;
}

#link-email:hover {
    color: #CD2D57;
    transition: 0.2s;
}

#whatsapp {
    color: white;
}

#footer-fenascdev {
    color: #CD2D57;
    font-size: 1.2rem;
    font-weight: 400;
}