@charset "UTF-8";

/* Typical Device Breakpoints
---------------------------------------
Pequenas telas: Até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Grandes telas: acima de 1200px */

/*CELULAR*/

@media screen and (min-width: 320px) and (max-width: 480px) {

    body, html {
        background-color: blue;
    }
    header > .logo, .menu {
        display: none;
    }
    
    img {
        display: none;
    }

    main > .hello {
        font-size: 0.5rem;
    }
}

/*IPAD'S E TABLETS*/

@media (max-width: 768px) {
    
}

/*TELAS PEQUENAS E LAPTOPS*/

@media (max-width: 1024px) {
    
}

/*DESKTOP E TELAS GRANDES*/

@media (max-width: 1200px) {
    
}